*{
    font-family: 'poppins',sans-serif;
}
.banner{
    background-image: url(../image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.skills-paddind{
    padding: 70px 0;
}
